**강화대교 조위**

In [1]:
import urllib.request
import json
import pandas as pd
import numpy as np
import datetime

In [ ]:
# pd.set_option('display.max_rows', None)
4z0fFsRnN8MCiHLP19DUEQ==

In [16]:
# Consider NULL
k = 20220401
df = pd.DataFrame(columns=['tide_level'])
for i in range(30):
  url = 'http://www.khoa.go.kr/api/oceangrid/tideObs/search.do?ServiceKey=9M3GoYlr/kzaB86oY1wO3w==&ObsCode=DT_0032&Date={}&ResultType=json'.format(k)
  print(k)
  response = urllib.request.urlopen(url)
  response_message = response.read().decode('utf8')
  data = json.loads(response_message)
  temp = pd.DataFrame(columns=['tide_level'])
  # empty data case
  try:
    l=data['result']['data']
  except:
    print('=====empty data====')
    for i in range(1440):
      temp.loc[i] = np.nan
    temp = pd.DataFrame(temp[::10])
    df = df.append(temp, ignore_index=True)
    k+=1
    continue
  k_str = str(k)
  datetime_str = k_str[0:4] + '-' + k_str[4:6] + '-' + k_str[6:8] +  ' 00:00:00'
  datetime_obj = datetime.datetime.strptime(datetime_str, '%Y-%m-%d %H:%M:%S')
  k+=1
  i = 0
  j = 0
  # 1 month -> 1440 minutes
  for _ in range(1440):
    # sequence data not exist
    try:
      comp = l[j]['record_time']
    except:
      j -= 1
      comp = l[j]['record_time']
    comp = comp[:17] + '00'
    comp = datetime.datetime.strptime(comp, '%Y-%m-%d %H:%M:%S')
    if comp == datetime_obj:
        temp.loc[i] = l[j]['tide_level']
        i += 1
        j += 1
    else:
      temp.loc[i] = np.nan
      i += 1
    datetime_obj = datetime_obj + datetime.timedelta(minutes=1)
  print(temp.isna().sum())
  print('\n')
  temp = pd.DataFrame(temp[::10])
  df = df.append(temp, ignore_index=True)

20220401
tide_level    0
dtype: int64


20220402
tide_level    1
dtype: int64


20220403
tide_level    2
dtype: int64


20220404
tide_level    0
dtype: int64


20220405
tide_level    0
dtype: int64


20220406
tide_level    0
dtype: int64


20220407
tide_level    0
dtype: int64


20220408
tide_level    2
dtype: int64


20220409
tide_level    0
dtype: int64


20220410
tide_level    6
dtype: int64


20220411
tide_level    0
dtype: int64


20220412
tide_level    0
dtype: int64


20220413
tide_level    0
dtype: int64


20220414
tide_level    0
dtype: int64


20220415
tide_level    0
dtype: int64


20220416
tide_level    0
dtype: int64


20220417
tide_level    0
dtype: int64


20220418
tide_level    0
dtype: int64


20220419
tide_level    0
dtype: int64


20220420
tide_level    1
dtype: int64


20220421
tide_level    0
dtype: int64


20220422
tide_level    4
dtype: int64


20220423
tide_level    0
dtype: int64


20220424
tide_level    1
dtype: int64


20220425
tide_level    1
dtype: int64


20220426
tide_level    6
dtype: int64


20220427
tide_level    0
dtype: int64


20220428
tide_level    2
dtype: int64


20220429
tide_level    1
dtype: int64


20220430
tide_level    9
dtype: int64

In [17]:
df

     tide_level
0           152
1           141
2           130
3           120
4           110
...         ...
4315        196
4316        184
4317        NaN
4318        101
4319         91

[4320 rows x 1 columns]

In [18]:
df['tide_level'].to_csv('tide2204.csv')

In [ ]:
# Day TEST
# Consider NULL
k = 20180126
df = pd.DataFrame(columns=['tide_level'])
for i in range(1):
  url = 'http://www.khoa.go.kr/api/oceangrid/tideObs/search.do?ServiceKey=9M3GoYlr/kzaB86oY1wO3w==&ObsCode=DT_0032&Date={}&ResultType=json'.format(k)
  response = urllib.request.urlopen(url)
  response_message = response.read().decode('utf8')
  data = json.loads(response_message)
  l=data['result']['data']
  print(l)

In [ ]:
# import csv
# columns = ['tide_level']
# with open('tide_34.csv', 'w') as csvfile:
#     writer = csv.DictWriter(csvfile, fieldnames = columns)
#     writer.writeheader()
#     writer.writerows(k)

# f = open('test34.csv','r')
# rdr = csv.reader(f)
# csv_reader = pd.read_csv('test34.csv')